body {
	font-family: Arial;
	padding: 20px;
}

h1, h2, h3 {
	text-align: center;
	color: #15499b;
} /* all headings are centered */

img {
	width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
} /* image must be changed to block otherwise it is inline and cannot be centered */

.bg-gray{
	padding: 20px;
	background: lightgray;
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
} /* refer to https://css-tricks.com/full-browser-width-bars/ */

.article-one, .article-two, .article-three {
	background: white;
	margin: 16px;
	padding: 8px;
}

.article-one h3, .article-two h3, .article-three h3 {
	color: #5e5d6d;
}